.header {
  color: #262233;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold; }
  .header p {
    font-family: 'Hind', sans-serif; }
    .header p span {
      font-weight: 200;
      font-family: 'Hind', sans-serif; }

.header_text {
  font-weight: 200;
  font-family: 'Hind', sans-serif; }

.footer {
  background: #262233;
  padding: 150px 0px 50px;
  color: white;
  font-family: 'Source	Sans	Pro',	sans-serif; }

body {
  background-color: #ffffff;
  margin: 0; }

.header {
  height: 68vh;
  background-image: url(/img/m-h-day.jpg);
  border-bottom-right-radius: 80vh 30vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .header_text {
    white-space: pre-line; }
  .header .header_heading::after {
    content: 'awesome';
    background: green;
    position: absolute;
    top: 70px;
    left: 10px;
    padding-bottom: 20px;
    line-height: 10px; }

.header-wrap {
  display: flex;
  flex-direction: column;
  justify-content: end; }
  .header-wrap .landing-logo {
    display: flex;
    align-items: center;
    padding-left: 50px; }
    .header-wrap .landing-logo p {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 10px; }

.header_button {
  margin: 0;
  padding: 0;
  padding-top: 8px;
  font-family: Source Sans Pro, sans-serif;
  font-size: 4rem;
  line-height: 1;
  font-weight: bold;
  position: relative; }

p:nth-child(1n) {
  color: green;
  background-color: wheat; }

.section_banner {
  background: linear-gradient(to right, #739D07, #3261CB);
  width: 1196px;
  display: flex;
  text-align: start;
  margin-top: 25vh;
  z-index: 3;
  border-radius: 5px;
  justify-content: space-around;
  align-items: center; }

.footer_text {
  width: 400px; }
.footer-wrap {
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  align-items: center; }
.footer_logo {
  display: flex;
  align-items: center; }
